  <section class="flex flex-col items-center justify-center mt-10">
    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 16 16">
      <path d="M0 0h16v16H0z" fill="none" />
      <path fill="currentColor" fill-rule="evenodd" d="M8 14.5a6.5 6.5 0 1 0 0-13a6.5 6.5 0 0 0 0 13M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m1-5a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-.25-6.25a.75.75 0 0 0-1.5 0v3.5a.75.75 0 0 0 1.5 0z" clip-rule="evenodd" />
    </svg>
    <h1>No se encontró el país</h1>
    <!-- Indicamos que al hacer click llamamos a la función goBack() que nos devuelve a la localización anterior -->
    <a (click)="goBack()" class="link-primary cursor-pointer">Regresar</a>
  </section>
